* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}


/* Regole principali */

.wrapper {
    width: 100%;
    height: 100vh;
}

        .container {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: flex-end;
            background-color: black;
        }

        .top {
            padding-right: 1%;
            padding-top: 1%;
            height: 10vh;
            overflow: hidden;
        }

        .center {
            min-height: 500px;
            background-color: black;
            height: 80vh;
            overflow-y: auto;
        }

        .bottom {
            background-color: #2a2b2b;
            justify-content: space-between;
            align-items: center;
            height: 10vh;
            overflow: hidden;
            padding-left: 10px;
        }

a {
    text-decoration: none;
    color: #fff;
}
/* Regole Top */
    .users {
        margin-right: 1%;
        background-color: gray;
        border-radius: 10px;
        height: 50%;
        padding:  3px;
        font-size: 18px;
    }

    .fullscreen {
        background-color: gray;
        border-radius: 10px;
        height: 50%;
        padding: 8px;
        font-size: 14px;     
    }




/* Regole Center */
.row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
    height: 200px;
}

    .card {
        width: calc(90% / 7);
        height: 100%;
        position: relative;
        
    }

        img {
            max-width: 100%;
            min-height: 100%;
        }

        .label {
            background-color: rgba(0, 0, 0, .4);
            position: absolute;
            bottom: 5%;
            left: 2%;
            color: white;
        }

    /* Regole Bottom */


    .menu {
        display: flex;
        justify-content: space-between;
        width: 10%;
        list-style-type: none;
    }

        .item {
            width: 50px;
            height: 50px;
        }

            #green {
                color: #00b51e;
            }

    .long {
        display: flex;
        justify-content: space-between;
        width: 40%;
        list-style-type: none;
    }

    .button {
        width: 10%;
        height: 100%;
        background-color: #5d5f61;
        padding: 30px;
        font-size: 15px;
        font-weight: bolder;
    }

        .button a {
            color: red;
        }